@font-face {
	font-family: AustieBostKittenKlub;
	src: url("AustieBostKittenKlub.ttf");
}

body {
	background-color: #A4A4A4;
	margin : 0 auto;
	width : 700px;
}

table {
	width : 700px;
}

table, td, th {
	border : 1px #ddd solid;
	border-collapse : collapse;
	background-color: #ccc;
	color : black;
}	

td, th {
	font-size: 18px;
	padding : 2px;
}

th {
	font-family: "AustieBostKittenKlub";
	text-align : left;
	font-size: 20px;
}

td.center{
	font-size: 20px;
	text-align : center;
}

a {
	color : black;
}
p.options{
	text-align : right;
}

label {
	display : inline-block;
	width : 100px;
}
form div {
	margin: 5px 0;
}
